# Action
install
# Language and type keyboard
keyboard us
lang en_US
# Path toward to image for installation
nfs --server=192.168.142.10 --dir=/srv/nfs/centos6-install
# Mention current server's timezone
timezone Europe/Moscow
# Generated root password using python and creating new user with password
auth --enableshadow --passalgo=sha512
rootpw --iscrypted $6$nVNlmyO0Dp.EoKGd$U2PFOI4QInPUjhTfG30YRKxoWI4pCqsn5XoJYGVl6VOyKFcRcrvWtEO8WLQlIZrXIMfAfzt2/LBWyC85USJeU/
user --groups=wheel --name=admin --homedir=/home/admin --password=$6$yFpcDfGOz4n3H5Rw$CQiWrk3sghkH4ZssCi8l0agUlZILrko8ntObMcmMeIkUq/dLZ2e6gBs7el5Wty0bQnsmL9GwQ/ueo3HUN7nSq. --iscrypted
# Mode of action
cmdline
# Disk partitioning (2 disks, two raids 1, boot and lvm with root and swap)
zerombr
clearpart --all --initlabel --drives=sda,sdb
part raid.sda1 --size=1024 --ondisk=sda
part raid.sda2 --size=1 --grow --ondisk=sda
part raid.sdb1 --size=1024 --ondisk=sdb
part raid.sdb2 --size=1 --grow --ondisk=sdb
raid /boot --fstype=ext4 --device md0 --level=1 raid.sda1 raid.sdb1
raid pv.1 --device md1 --level=1 raid.sda2 raid.sdb2
volgroup centos pv.1
logvol swap --vgname=centos --fstype="swap" --size=500 --name=swap
logvol / --fstype=ext4 --vgname=centos --size=1 --grow --name=root
# Options installing of bootloader
bootloader --location=mbr --iscrypted --password=grub.pbkdf2.sha512.10000.DD5CA42E09EDF68ED9B445275A864766301113E155E5F85DC2EB149A36520B1B8DB3AE94CD0476C713FEB1AEFCCF2F28958FAFA8ED5DF9410D800C3B01F419A4.13C56AEF70B1F3124C9300F8BA7EEFFC7F9E898419927B110AC12C9D383A823B3D4C1052236824853714931DAEB2D72B3B07C774B31B650B7ECF8645D8796ECD
# selinux option
selinux --enforcing
# Firewall configuration
firewall --enabled --ssh

%packages --ignoremissing
@core
@base
authconfig
system-config-firewall-base
%end

%post
# Configure access via SSH key (user admin)
mkdir -p /home/admin/.ssh
chmod 700 /home/admin/.ssh
echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC//m7FYhRx1OE/P9ndBnIcMSPhRscdX1rmluRUz+ofLsIZTeg17BKYSXp57hCZju2locsbSSAqa7h7m5M2ZZSEj42XjnrjeFPbm8e/FFa8ZW33Oe7WYyIjQW7UUn/oTTD3zJQQl9FnyGYoKSmZMLe68BsPUntC1w3/mZQxhiw8xkDooBDtAvxfQNB5eQmB/8Ll82qmQ6RFU4pE4UVIIjuYSlH26JNbFx6s0mtqO0ML6UYqxUzewu1m+jjnw3rq1wQK6VZWT3Wbj3BjnZTXKz4amLapwEvNfsnogUnEvXhMOAaZZfPqhD7Fe0SZ3TvfyF3qDBWNd5QfT3TgfENkmRA1 kol@localhost.localdomain' >> /home/admin/.ssh/authorized_keys
chmod 600 /home/admin/.ssh/authorized_keys
chown admin:admin /home/admin/.ssh/authorized_keys
chown admin:admin /home/admin/.ssh
sed -i "s/.*#PubkeyAuthentication yes.*/PubkeyAuthentication yes/" /etc/ssh/sshd_config
sed -i "s/.*PasswordAuthentication yes.*/PasswordAuthentication no/" /etc/ssh/sshd_config
sed -i "s/.*#RSAAuthentication yes/RSAAuthentication yes/" /etc/ssh/sshd_config
restorecon -R /home/admin/.ssh
# Configure 2 Ethernet and 1 bond interfaces
echo "DEVICE=bond0
TYPE=Bond
ONBOOT=yes
BOOTPROTO=static
IPADDR=192.168.142.12
PREFIX=24
GATEWAY=192.168.142.1
DNS1=192.168.142.1
NAME=bond0
BONDING_MASTER=yes
BONDING_OPTS='mode=active-backup miimon=100 fail_over_mac=1'" > /etc/sysconfig/network-scripts/ifcfg-bond0

echo "DEVICE=eth0
TYPE=Ethernet
ONBOOT=yes
NAME=eth0
MASTER=bond0
SLAVE=yes" > /etc/sysconfig/network-scripts/ifcfg-eth0
echo "UUID=$(uuidgen eth0)" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "DEVICE=eth1
TYPE=Ethernet
ONBOOT=yes
NAME=eth1
MASTER=bond0
SLAVE=yes" > /etc/sysconfig/network-scripts/ifcfg-eth1
echo "UUID=$(uuidgen eth1)" >> /etc/sysconfig/network-scripts/ifcfg-eth1

rm /etc/sysconfig/network-scripts/ifcfg-bond0_slave_1
rm /etc/sysconfig/network-scripts/ifcfg-bond0_slave_2
# Firewall (iptables) configuration
sed -i "s/.*:INPUT ACCEPT.*/:INPUT DROP [0:0]/" /etc/sysconfig/iptables
sed -i "s/.*:OUTPUT ACCEPT.*/:OUTPUT DROP [0:0]/" /etc/sysconfig/iptables
sed -i "s/.*:FORWARD ACCEPT.*/:FORWARD DROP [0:0]/" /etc/sysconfig/iptables
sed -i "s/.*COMMIT.*/-A OUTPUT -d 192.168.142.10 -m tcp -p tcp --sport 22 -j ACCEPT/" /etc/sysconfig/iptables
sed -i "s/.*--dport 22.*/-A INPUT -s 192.168.142.10 -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT/" /etc/sysconfig/iptables
echo "COMMIT" >> /etc/sysconfig/iptables
/etc/init.d/iptables reload
/etc/init.d/iptables save
chkconfig iptables on
%end

reboot
