# Action
install
# Language and type keyboard
keyboard us
lang en_US
# Path toward to image for installation
nfs --server=192.168.142.10 --dir=/srv/nfs/centos7-install
# Mention current server's timezone
timezone Europe/Moscow
# Generated root password using python
rootpw --iscrypted $6$nVNlmyO0Dp.EoKGd$U2PFOI4QInPUjhTfG30YRKxoWI4pCqsn5XoJYGVl6VOyKFcRcrvWtEO8WLQlIZrXIMfAfzt2/LBWyC85USJeU/
#auth useshadow passalgo=sha512
# Mode of action
text
# Disk partitioning (2 disks, two raids 1, boot and lvm with root and swap)
zerombr
clearpart --all --initlabel --drives=sda,sdb
part raid.sda1 --size=1024 --ondisk=sda
part raid.sda2 --size=1 --grow --ondisk=sda
part raid.sdb1 --size=1024 --ondisk=sdb
part raid.sdb2 --size=1 --grow --ondisk=sdb
raid /boot --fstype=ext4 --device md0 --level=1 raid.sda1 raid.sdb1
raid pv.1 --device md1 --level=1 raid.sda2 raid.sdb2
volgroup centos pv.1
logvol swap --vgname=centos --fstype="swap" --size=500 --name=swap
logvol / --fstype=ext4 --vgname=centos --size=1 --grow --name=root
# Options installing of bootloader
bootloader --location=mbr --boot-drive=sda --iscrypted --password=grub.pbkdf2.sha512.10000.DD5CA42E09EDF68ED9B445275A864766301113E155E5F85DC2EB149A36520B1B8DB3AE94CD0476C713FEB1AEFCCF2F28958FAFA8ED5DF9410D800C3B01F419A4.13C56AEF70B1F3124C9300F8BA7EEFFC7F9E898419927B110AC12C9D383A823B3D4C1052236824853714931DAEB2D72B3B07C774B31B650B7ECF8645D8796ECD
# selinux option
selinux --enforcing
# Minimal configuration network. It is overriden in post section
#network --onboot=yes --device=eth0
network --device=bond0 --bondopts mode=active-backup,miimon=100,fail_over_mac=1 --bondslaves eth0,eth1 --bootproto=dhcp --noipv6
# Firewall configuration
firewall --enabled --service=ssh

%packages
@^minimal
@core
net-tools
%end

%post
# Configure access via SSH key (user admin)
adduser admin
mkdir -p /home/admin/.ssh
chmod 700 /home/admin/.ssh
echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC//m7FYhRx1OE/P9ndBnIcMSPhRscdX1rmluRUz+ofLsIZTeg17BKYSXp57hCZju2locsbSSAqa7h7m5M2ZZSEj42XjnrjeFPbm8e/FFa8ZW33Oe7WYyIjQW7UUn/oTTD3zJQQl9FnyGYoKSmZMLe68BsPUntC1w3/mZQxhiw8xkDooBDtAvxfQNB5eQmB/8Ll82qmQ6RFU4pE4UVIIjuYSlH26JNbFx6s0mtqO0ML6UYqxUzewu1m+jjnw3rq1wQK6VZWT3Wbj3BjnZTXKz4amLapwEvNfsnogUnEvXhMOAaZZfPqhD7Fe0SZ3TvfyF3qDBWNd5QfT3TgfENkmRA1 kol@localhost.localdomain' >> /home/admin/.ssh/authorized_keys
chmod 600 /home/admin/.ssh/authorized_keys
chown admin:admin /home/admin/.ssh/authorized_keys
chown admin:admin /home/admin/.ssh
sed -i "s/.*#PubkeyAuthentication yes.*/PubkeyAuthentication yes/" /etc/ssh/sshd_config
sed -i "s/.*PasswordAuthentication yes.*/PasswordAuthentication no/" /etc/ssh/sshd_config
# Configure 2 Ethernet and 1 bond interfaces
echo "DEVICE=bond0
TYPE=Bond
ONBOOT=yes
BOOTPROTO=static
IPADDR=192.168.142.11
PREFIX=24
GATEWAY=192.168.142.1
DNS1=192.168.142.1
NAME=bond0
BONDING_MASTER=yes
BONDING_OPTS='mode=active-backup miimon=100 fail_over_mac=1'" > /etc/sysconfig/network-scripts/ifcfg-bond0

echo "DEVICE=eth0
TYPE=Ethernet
ONBOOT=yes
NAME=eth0
MASTER=bond0
SLAVE=yes" > /etc/sysconfig/network-scripts/ifcfg-eth0
echo "UUID=$(uuidgen eth0)" >> /etc/sysconfig/network-scripts/ifcfg-eth0

echo "DEVICE=eth1
TYPE=Ethernet
ONBOOT=yes
NAME=eth1
MASTER=bond0
SLAVE=yes" > /etc/sysconfig/network-scripts/ifcfg-eth1
echo "UUID=$(uuidgen eth1)" >> /etc/sysconfig/network-scripts/ifcfg-eth1

rm /etc/sysconfig/network-scripts/ifcfg-bond0_slave_1
rm /etc/sysconfig/network-scripts/ifcfg-bond0_slave_2
%end

reboot
